header {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: white;
}

.ace {
    font-family: 'Bangers', cursive;
    font-size: 40px;
}

.logo {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.carousel-inner {
    max-width: 90%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

h3 {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
}

.container1 {
    text-align: center;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid black;
}

.container3 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.container4 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    padding: 20px;
}
